<!DOCTYPE html>
<html>

  <head>
    <title>Mom's Food</title>
    <link rel="stylesheet" href="../css/contact.css">
    <link rel="stylesheet" href="../css/general.css">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Slabo+27px|Source+Sans+Pro" rel = "stylesheet">
  </head>

  <body>
    <header>
      <nav>
        <h1 class = "font2">Mom's Food</h1>
        <ul class = "font1">
          <li><a href="main.html">Home</a></li>
          <li><a href="foods.html">Foods</a></li>
          <li>Contact Us</li>
        </ul>
      </nav>
    </header>

    <div>
      <div class="row">
        <div class="center name">

        </div>
      </div>

      <div class="row">
        <div class="left ingredients">

        </div>
      </div>

      <div class="row">
        <div class="right method">

        </div>
      </div>
    </div>

    <footer>
      © 2017 Mom's Food
    </footer>
  </body>

</html>
