<!DOCTYPE html>
<html>

  <head>
    <title>Mom's Food</title>
    <link rel="stylesheet" href="../stylesheets/general.css">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Slabo+27px|Source+Sans+Pro" rel = "stylesheet">
  </head>

  <body>
    <header>
      <nav>
        <h1 class = "font2">Mom's Food</h1>
        <ul class = "font1">
          <li><a href="/">Home</a></li>
          <li><a href="/food">Foods</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </nav>
    </header>

    <div>

      <div class="row">
          <h2 class="head font2">Welcome to my Mom's Cooking Page!</h2>
      </div>

      <div class="row">
        <div class="description font1">
          <h4>My mom, Panzy Harvey, has been cooking since she was 12 with a passion for
          making the best food in her home. Now that she is a professional she asked me to
          make a website documenting her recipes for the world to enjoy!</h4>
        </div>
      </div>
<!-- Deluxe Pizza -->
      <div class = "row">
        <h2 class = "font2">Featured Dishes</h2>
        <div class = "featured">
          <h3 class = "font1 food"><a href="/recipe?foodName={{featured1}}">{{featured1}}</a></h3>
          <img class = "foodImg" alt = "Image of {{featured1}}" src = " "></img>
        </div>

        <div class = "featured">
          <h3 class = "font1 food"><a href="/recipe?foodName={{featured2}}">{{featured2}}</a></h3>
          <img class = "foodImg" alt = "Image of Food 2" src = " "></img>
        </div>

        <div class = "featured">
          <h3 class = "font1 food"><a href="/recipe?foodName={{featured3}}">{{featured3}}</a></h3>
          <img class = "foodImg" alt = "Image of Food 3" src = " "></img>
        </div>
      </div>


    </div>

    <footer>
      © 2017 Mom's Food
    </footer>
  </body>

</html>
