<!DOCTYPE html>
<html>
  <head>
    <title>Mom's Food</title>
    <link rel="stylesheet" href="../stylesheets/general.css">
    <link rel="stylesheet" href="../stylesheets/password.css">
    <script src="myscripts.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <h1 class = "font2">Mom's Food</h1>
        <ul class = "font1">
          <li><a href="/">Home</a></li>
          <li><a href="/food">Foods</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </nav>
    </header>

    <div class = "colored">
      <h2 class = "font2 center">Make A Recipe</h2>



      <form class = "center" method = "post">
          <h3 class = "font1">Password:  <input type="password" id = "myPsw" name="password"></h3>

        <!-- <div>
        <h3 class = "font1">What are the Methods?</h3>
          <textarea rows="10" cols="50" placeholder="write your method!"></textarea>
        </div> -->
        <button onclick="myFunction()" type="submit">Enter</button>
      </form>
    </div>

    <script>
    function myFunction() {
        var x = document.getElementById("myPsw").value;
        // document.getElementById("demo").innerHTML = x;
    }
    </script>

  </body>
</html>
