<!DOCTYPE html>
<html>

  <head>
    <title>Mom's Food</title>
    <link rel="stylesheet" href="../stylesheets/recipe.css">
    <link rel="stylesheet" href="../stylesheets/general.css">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Slabo+27px|Source+Sans+Pro" rel = "stylesheet">
  </head>

  <body>
    <header>
      <nav>
        <h1 class = "font2">Mom's Food</h1>
        <ul class = "font1">
          <li><a href="/">Home</a></li>
          <li><a href="/food">Foods</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </nav>
    </header>

    <div class = "row">
      <div class="foodDisplay">
        <img src="" alt="Food Image">
      </div>

      <div class = "row">

        <!-- Ingredient List -->
        <div class = "Ingredientlist card">
          <h2 class = "font2">Ingredients</h2>
          <table>
            {% for ingredient in ingredients %}
            <tr class = "font1">
              <td><h3>{{ingredient.get().nameIngredient}}</h3></td>
              <td>{{ingredient.get().number}}</td>
              <td>{{ingredient.get().unit}}</td>
            </tr>
            {% endfor %}
          </table>
        </div>

        <!-- Method List -->
        <div class = "Methodlist card">
          <h2 class = "font2">Methods</h2>
          <table>
            {% for method in methods %}
            <tr class = "font1">
              <td>{{method.get().content}}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>

    </div>

    <footer>
      © 2017 Mom's Food
    </footer>
  </body>

</html>
