header {
  background: black;
  color: white;
  margin: 0;
}

header h1 {
  padding: 10px 0 0 5px;
  margin: 0 1%;
}

body {
  margin: 0;
  background: #888;
}

footer p{
  color: white;
}

nav {
  margin: 0;
}

nav ul {
  margin: 0 0 0 0;
  padding: 0 0 3px 5px;
}



nav ul li {
  background: #F59111;
  list-style-type: none;
  display: inline-block;
  color: #777;
  padding: 6px;
  margin: 0 1%;
}

nav ul li a {
  color: #333;
}

.description {
  padding: 2px 0%;
  margin: 0 4%
}

.font1 {
  font-family: 'Source Sans Pro', sans-serif;
}

.font2 {
  font-family: 'Slabo 27px', sans-serif;
}

.font3 {
  font-family: 'Dancing Script', cursive;
}

.row {
  margin: 0 auto 20px auto;
  background: #F59111;
}


.featured {
  padding: 4% 0 2% 0;
}

.food {
  margin: 0 0 0 2%;
}

.foodImg {
  margin: 0 0 0 2%;
  padding: 5px 0 0 0;
}

.head {
  padding: 10px 0;
  margin: 0 7% 0 15%;
}

.card-panel {
  transition: box-shadow .25s;
  padding: 24px;
  margin: 0.5rem 0 1rem 0;
  border-radius: 2px;
  background-color: #999;
}

.card {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #999;
  transition: box-shadow .25s;
  border-radius: 2px;
}

@media only screen and (min-width: 501px) {
  .head {
    padding: 10px 0;
    margin: 0 20% 0 3%;
  }
}

@media only screen and (min-width: 893px) {
  .head {
    padding: 10px 0;
    margin: 0 20% 0 3%;
  }
}
