.Methodlist {
  /*float: left;
  box-sizing: border-box;
  padding: 0 0.75rem;
  min-height: 1px;

  width: 50%;
  margin-left: auto;
  left: auto;
  right: auto;*/
  background: #D9867D;
}

.Ingredientlist {
  /*float: left;
  box-sizing: border-box;
  padding: 0 0.75rem;
  min-height: 1px;

  width: 50%;
  margin-left: auto;
  left: auto;
  right: auto;*/
  background: #D9867D
}

table {
    border-collapse: collapse;
    width: 80%;
    margin:30px 10px 60px 10px;
    transform:translateX(10%);
}

.info {
  background: #888;
  color: white;
}

.hed {
  background: #888;
}
