.Methodlist {
  /*float: left;
  box-sizing: border-box;
  padding: 0 0.75rem;
  min-height: 1px;

  width: 50%;
  margin-left: auto;
  left: auto;
  right: auto;*/
  background: #D9867D;
}

.Ingredientlist {
  /*float: left;
  box-sizing: border-box;
  padding: 0 0.75rem;
  min-height: 1px;

  width: 50%;
  margin-left: auto;
  left: auto;
  right: auto;*/
  background: #D9867D
}
